{% load thumbnail %}
<!--                надпись открытки перерд рядом-->
<div class='t396__elem tn-elem tn-elem__2490061611605172204176 t-animate'
     data-elem-id='1605172204176' data-elem-type='text'
     data-field-top-value="855"
     data-field-top-res-960-value="794"
     data-field-top-res-640-value="520"
     data-field-top-res-480-value="380"
     data-field-left-value="-310"
     data-field-left-res-960-value="-180"
     data-field-left-res-640-value="-20"
     data-field-left-res-480-value="180"
     data-field-width-value="540" data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value=""
     data-field-widthunits-value="px"
     data-animate-style="fadein" data-animate-duration="3"
     data-animate-mobile="y">
    <div class='tn-atom' field='tn_text_1605172204176'>
        Открытки
    </div>
</div>
<!--                первая открытка в ряду-->
<div class='t396__elem tn-elem tn-elem__2490061611605105195474'
     data-elem-id='1605105195474' data-elem-type='shape'
     data-field-top-value="987"
     data-field-top-res-960-value="926"
     data-field-top-res-640-value="597"
     data-field-top-res-480-value="459"
     data-field-top-res-320-value="447"
     data-field-left-value="-453"
     data-field-left-res-960-value="-321"
     data-field-left-res-640-value="-161"
     data-field-left-res-480-value="-113"
     data-field-left-res-320-value="-81"
     data-field-height-value="360"
     data-field-height-res-480-value="280"
     data-field-height-res-320-value="220"
     data-field-width-value="250"
     data-field-width-res-480-value="200"
     data-field-width-res-320-value="150"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value="px"
     data-field-widthunits-value="px" data-animate-mobile="y"
     data-animate-sbs-event="hover"
     data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1.1,'sy':1.1,'op':1,'ro':1,'bl':'0','ea':'','dt':'0'}]">
    <!--         data-original="https://static.tildacdn.com/tild3239-3035-4632-a265-363064643163/__2020-11-12__140203.png"-->
    <div class='tn-atom t-bgimg'
                  data-original="{{ card1.img_file.url }}"
         style="background-image:url('{% static "
         tild3239-3035-4632-a265-363064643163
    /-/resize/20x/__2020-11-12__140203.png" %}');">
    </div>
</div>
<!--        втораявряду-->
<div class='t396__elem tn-elem tn-elem__2490061611605173948334'
     data-elem-id='1605173948334' data-elem-type='shape'
     data-field-top-value="987"
     data-field-top-res-960-value="926"
     data-field-top-res-640-value="597"
     data-field-top-res-480-value="459"
     data-field-top-res-320-value="447"
     data-field-left-value="-150"
     data-field-left-res-960-value="-10"
     data-field-left-res-640-value="150"
     data-field-left-res-480-value="111"
     data-field-left-res-320-value="81"
     data-field-height-value="360"
     data-field-height-res-480-value="280"
     data-field-height-res-320-value="220"
     data-field-width-value="250"
     data-field-width-res-480-value="200"
     data-field-width-res-320-value="150"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value="px"
     data-field-widthunits-value="px" data-animate-mobile="y"
     data-animate-sbs-event="hover"
     data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1.1,'sy':1.1,'op':1,'ro':-1,'bl':'0','ea':'','dt':'0'}]">
<!--    data-original="https://static.tildacdn.com/tild6438-3964-4232-a133-633564366335/__2020-11-12__140308.png"-->
    <div class='tn-atom t-bgimg'
         data-original="{{ card2.img_file.url }}"
         style="background-image:url('{% static "
         tild6438-3964-4232-a133-633564366335
    /-/resize/20x/__2020-11-12__140308.png" %}');">
</div>
</div>
<!--    третьявряду-->
<div class='t396__elem tn-elem tn-elem__2490061611605173957408'
     data-elem-id='1605173957408' data-elem-type='shape'
     data-field-top-value="987"
     data-field-top-res-960-value="925"
     data-field-top-res-640-value="989"
     data-field-top-res-480-value="769"
     data-field-top-res-320-value="682"
     data-field-left-value="154"
     data-field-left-res-960-value="310"
     data-field-left-res-640-value="-161"
     data-field-left-res-480-value="-112"
     data-field-left-res-320-value="-80"
     data-field-height-value="360"
     data-field-height-res-480-value="280"
     data-field-height-res-320-value="220"
     data-field-width-value="250"
     data-field-width-res-480-value="200"
     data-field-width-res-320-value="150"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value="px"
     data-field-widthunits-value="px" data-animate-mobile="y"
     data-animate-sbs-event="hover"
     data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1.1,'sy':1.1,'op':1,'ro':1,'bl':'0','ea':'','dt':'0'}]">
    <div class='tn-atom t-bgimg'
         data-original="https://static.tildacdn.com/tild3735-3835-4337-b532-643763323437/__2020-11-12__140557.png"
         style="background-image:url('{% static "
         tild3735-3835-4337-b532-643763323437
    /-/resize/20x/__2020-11-12__140557.png" %}');">
</div>
</div>
<!--    открытка №4 в ряду-->
<div class='t396__elem tn-elem tn-elem__2490061611605178128920'
     data-elem-id='1605178128920' data-elem-type='shape'
     data-field-top-value="987"
     data-field-top-res-960-value="987"
     data-field-top-res-640-value="990"
     data-field-top-res-480-value="769"
     data-field-top-res-320-value="681"
     data-field-left-value="456"
     data-field-left-res-960-value="1145"
     data-field-left-res-640-value="148"
     data-field-left-res-480-value="113"
     data-field-left-res-320-value="83"
     data-field-height-value="360"
     data-field-height-res-480-value="280"
     data-field-height-res-320-value="220"
     data-field-width-value="250"
     data-field-width-res-480-value="200"
     data-field-width-res-320-value="150"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value="px"
     data-field-widthunits-value="px" data-animate-mobile="y"
     data-animate-sbs-event="hover"
     data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1.1,'sy':1.1,'op':1,'ro':-1,'bl':'0','ea':'','dt':'0'}]">
    <div class='tn-atom t-bgimg'
         data-original="https://static.tildacdn.com/tild3465-3939-4961-a439-613363386236/__2020-11-12__140545.png"
         style="background-image:url('{% static "
         tild3465-3939-4961-a439-613363386236
    /-/resize/20x/__2020-11-12__140545.png" %}');">
</div>
</div>
<div class='t396__elem tn-elem tn-elem__2490061611605178149755 t-animate'
     data-elem-id='1605178149755' data-elem-type='text'
     data-field-top-value="1417"
     data-field-top-res-960-value="1354"
     data-field-top-res-640-value="1400"
     data-field-top-res-480-value="1095"
     data-field-top-res-320-value="950"
     data-field-left-value="-435"
     data-field-left-res-960-value="-295"
     data-field-left-res-640-value="-136"
     data-field-left-res-480-value="-65"
     data-field-left-res-320-value="35"
     data-field-width-value="290" data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value=""
     data-field-widthunits-value="px"
     data-animate-style="fadein" data-animate-duration="3"
     data-animate-delay="0.3"><a class='tn-atom'
                                 href="cards.html"
                                 target="_blank">Посмотреть все
    открытки</a></div>
<!--подсветка-->
<div class='t396__elem tn-elem tn-elem__2490061611605178189239'
     data-elem-id='1605178189239' data-elem-type='image'
     data-field-top-value="1365"
     data-field-top-res-960-value="1302"
     data-field-top-res-640-value="1348"
     data-field-top-res-480-value="1043"
     data-field-top-res-320-value="898"
     data-field-left-value="-467"
     data-field-left-res-960-value="-327"
     data-field-left-res-640-value="-168"
     data-field-left-res-480-value="-97"
     data-field-left-res-320-value="3"
     data-field-width-value="290" data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value=""
     data-field-widthunits-value="px" data-animate-mobile="y"
     data-animate-sbs-event="hover"
     data-animate-sbs-trgels="1605178149755"
     data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':0,'mx':'0','my':'0','sx':'1','sy':'1','op':0,'ro':'0','bl':'0','ea':'','dt':'0'},{'ti':300,'mx':'0','my':'0','sx':'1','sy':'1','op':1,'ro':4,'bl':'0','ea':'','dt':'0'},{'ti':300,'mx':'0','my':'0','sx':'1','sy':'1','op':1,'ro':-4,'bl':'0','ea':'','dt':'0'},{'ti':300,'mx':'0','my':'0','sx':'1','sy':'1','op':1,'ro':0,'bl':'0','ea':'','dt':'0'}]">
    <div class='tn-atom'><img class='tn-atom__img t-img'
                              data-original='https://static.tildacdn.com/tild3534-3466-4734-b839-623436666535/Vector_341.png'
                              imgfield='tn_img_1605178189239'>
    </div>
</div>
<!--стрелка вправо-->
                <div class='t396__elem tn-elem tn-elem__2490061611605178302390'
                     data-elem-id='1605178302390' data-elem-type='image'
                     data-field-top-value="1390"
                     data-field-top-res-960-value="1327"
                     data-field-top-res-640-value="1373"
                     data-field-top-res-480-value="1068"
                     data-field-top-res-320-value="960"
                     data-field-left-value="-281"
                     data-field-left-res-960-value="-141"
                     data-field-left-res-640-value="18"
                     data-field-left-res-480-value="89"
                     data-field-left-res-320-value="-1"
                     data-field-width-value="137" data-field-axisy-value="top"
                     data-field-axisx-value="center"
                     data-field-container-value="window"
                     data-field-topunits-value="px"
                     data-field-leftunits-value="px"
                     data-field-heightunits-value=""
                     data-field-widthunits-value="px"><a class='tn-atom'
                                                         href="cards.html"
                                                         target="_blank"> <img
                        class='tn-atom__img t-img'
                        data-original='https://static.tildacdn.com/tild3837-3634-4638-b039-616536373866/Group_34_3.png'
                        imgfield='tn_img_1605178302390'> </a></div>