<!--логотип-->
<div class='t396__elem tn-elem tn-elem__2490061611605104223431 t-animate'
     data-elem-id='1605104223431' data-elem-type='image'
     data-field-top-value="50" data-field-top-res-960-value="50"
     data-field-top-res-640-value="40"
     data-field-top-res-480-value="35"
     data-field-left-value="-552"
     data-field-left-res-960-value="-403"
     data-field-left-res-640-value="-243"
     data-field-left-res-480-value="-3"
     data-field-width-value="94" data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value=""
     data-field-widthunits-value="px"
     data-animate-style="fadein" data-animate-duration="1.5">
    <div class='tn-atom'><img class='tn-atom__img t-img'
                              data-original='https://static.tildacdn.com/tild3131-6134-4034-b362-633465333064/logo.png'
                              imgfield='tn_img_1605104223431'>
    </div>
</div>
<div class='t396__elem tn-elem tn-elem__2490061611605104950958 t-animate'
     data-elem-id='1605104950958' data-elem-type='text'
     data-field-top-value="360"
     data-field-top-res-960-value="283"
     data-field-top-res-640-value="205"
     data-field-top-res-480-value="165"
     data-field-left-value="-220"
     data-field-left-res-960-value="-90"
     data-field-left-res-640-value="-62"
     data-field-left-res-480-value="10"
     data-field-width-value="720"
     data-field-width-res-640-value="460"
     data-field-width-res-480-value="340"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value=""
     data-field-widthunits-value="px"
     data-animate-style="fadein" data-animate-duration="3"
     data-animate-mobile="y">
    <div class='tn-atom' field='tn_text_1605104950958'>
        Привет-привет!
    </div>
</div>
<div class='t396__elem tn-elem tn-elem__2490061611605104937896 t-animate'
     data-elem-id='1605104937896' data-elem-type='text'
     data-field-top-value="455"
     data-field-top-res-960-value="378"
     data-field-top-res-640-value="275"
     data-field-top-res-480-value="230"
     data-field-top-res-320-value="235"
     data-field-left-value="-310"
     data-field-left-res-960-value="-235"
     data-field-left-res-640-value="-125"
     data-field-left-res-480-value="5"
     data-field-left-res-320-value="-5"
     data-field-width-value="540"
     data-field-width-res-960-value="410"
     data-field-width-res-640-value="330"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value=""
     data-field-widthunits-value="px"
     data-animate-style="fadein" data-animate-duration="3"
     data-animate-delay="0.3" data-animate-mobile="y">
    <div class='tn-atom' field='tn_text_1605104937896'>
        {% if TEXT_DICT.hello %}
            {{ TEXT_DICT.hello.content }}
        {% else %}
            Это проект Click Pic, мы создаем открытки, чтобы вы всегда
            могли рассказать о своих чувствах ✨ А эту страницу
            сделали, чтобы найти партнеров единомышленников
        {% endif %}
    </div>
</div>
<!--желтый овал-->
<div class='t396__elem tn-elem tn-elem__2490061611605175827379 t-animate'
     data-elem-id='1605175827379' data-elem-type='image'
     data-field-top-value="290"
     data-field-top-res-960-value="213"
     data-field-top-res-640-value="175"
     data-field-top-res-480-value="135"
     data-field-top-res-320-value="135"
     data-field-left-value="-360"
     data-field-left-res-960-value="-230"
     data-field-left-res-640-value="-150"
     data-field-left-res-480-value="-10"
     data-field-left-res-320-value="0"
     data-field-width-value="599"
     data-field-width-res-640-value="339"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value=""
     data-field-widthunits-value="px"
     data-animate-style="fadein" data-animate-duration="3"
     data-animate-delay="1" data-animate-mobile="y">
    <div class='tn-atom'><img class='tn-atom__img t-img'
                              data-original='https://static.tildacdn.com/tild6236-6338-4265-a537-386639643231/Vector_327.png'
                              imgfield='tn_img_1605175827379'>
    </div>
</div>
<!--            открытка в приветствии-->
<div class='t396__elem tn-elem tn-elem__2490061611605171205528'
     data-elem-id='1605171205528' data-elem-type='shape'
     data-field-top-value="208"
     data-field-top-res-960-value="203"
     data-field-top-res-640-value="131"
     data-field-top-res-480-value="-383"
     data-field-left-value="252"
     data-field-left-res-960-value="275"
     data-field-left-res-640-value="171"
     data-field-left-res-480-value="-22"
     data-field-height-value="545"
     data-field-height-res-960-value="450"
     data-field-height-res-640-value="296"
     data-field-width-value="390"
     data-field-width-res-960-value="322"
     data-field-width-res-640-value="214"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value="px"
     data-field-widthunits-value="px" data-animate-mobile="y"
     data-animate-sbs-event="hover"
     data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'},{'ti':'1000','mx':'0','my':'0','sx':1.05,'sy':1.05,'op':'1','ro':-1,'bl':'0','ea':'','dt':'0'}]">
    <div class='tn-atom t-bgimg'
         data-original="https://static.tildacdn.com/tild6563-3163-4638-a662-316634393061/__2020-11-12__140203.png"
         style="background-image:url('{% static "
         tild6563-3163-4638-a662-316634393061
    /-/resize/20x/__2020-11-12__140203.png" %}');">
</div>
</div>
<!--стрелка вниз-->
<div class='t396__elem tn-elem tn-elem__2490061611605176068232'
     data-elem-id='1605176068232' data-elem-type='image'
     data-field-top-value="565"
     data-field-top-res-960-value="490"
     data-field-top-res-640-value="335"
     data-field-top-res-480-value="-411"
     data-field-left-value="58"
     data-field-left-res-960-value="108"
     data-field-left-res-640-value="63"
     data-field-left-res-480-value="28"
     data-field-width-value="296"
     data-field-width-res-640-value="186"
     data-field-axisy-value="top"
     data-field-axisx-value="center"
     data-field-container-value="window"
     data-field-topunits-value="px"
     data-field-leftunits-value="px"
     data-field-heightunits-value=""
     data-field-widthunits-value="px" data-animate-prx="scroll"
     data-animate-prx-s="90">
    <div class='tn-atom'><img class='tn-atom__img t-img'
                              data-original='https://static.tildacdn.com/tild3439-6566-4130-a566-626139353431/Group_34.png'
                              imgfield='tn_img_1605176068232'>
    </div>
</div>