<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--metatextblock--><title>Каталог открыток</title>
    <meta property="og:url" content="http://click.pic.cards.tilda.ws/cards">
    <meta property="og:title" content="Каталог открыток">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="cards.html"><!--/metatextblock-->
    <meta property="fb:app_id" content="257953674358265">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="index-1.htm">
    <link rel="dns-prefetch" href="index-2.htm">
    <meta name="robots" content="nofollow">
    <link rel="shortcut icon" href="img/tildafavicon.ico" type="image/x-icon">
    <!-- Assets -->
    <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css"
          media="all">
    <link rel="stylesheet"
          href="project281562/tilda-blocks-2.12-1.css?t=1605180454"
          type="text/css" media="all">
    <link rel="stylesheet" href="css/tilda-animation-1.0.min.css"
          type="text/css" media="all">
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/tilda-scripts-2.8.min.js"></script>
    <script src="project281562/tilda-blocks-2.7-1.js?t=1605180454"></script>
    <script src="js/lazyload-1.3.min.js" charset="utf-8"></script>
    <script src="js/tilda-animation-1.0.min.js" charset="utf-8"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];
    </script>
    <script type="text/javascript">if((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent))===false && typeof(sessionStorage)!='undefined' && sessionStorage.getItem('visited')!=='y'){	var style=document.createElement('style');	style.type='text/css';	style.innerHTML='@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';	document.getElementsByTagName('head')[0].appendChild(style);	$(document).ready(function() {	$('.t-records').addClass('t-records_animated');	setTimeout(function(){ $('.t-records').addClass('t-records_visible'); sessionStorage.setItem('visited','y');	},400);	});
}
    </script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" class="t-records"
     data-hook="blocks-collection-content-node" data-tilda-project-id="281562"
     data-tilda-page-id="15184001" data-tilda-page-alias="cards"
     data-tilda-formskey="f48358ea371ea4f54ecdcec0f5193728">
    <div id="rec249316274" class="r t-rec t-rec_pt_150 t-rec_pb_45"
         style="padding-top:150px;padding-bottom:45px;background-color:#f0f6fa; "
         data-record-type="537" data-bg-color="#f0f6fa"><!-- t537 -->
        <div class="t537">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_left">
                        <div class="t-section__title t-title t-title_xs t-animate"
                             data-animate-style="fadein"
                             data-animate-group="yes" field="btitle">Каталог
                            открыток
                        </div>
                    </div>
                </div>
            </div>
            <div class="t537__container t-container">
                <div class="t537__col t-col t-col_3 t-align_left t537__col-mobstyle t-item t-animate"
                     data-animate-style="fadein" data-animate-chain="yes">
                    <div class="t537__itemwrapper t537__itemwrapper_4">
                        <div class="t537__bgimg t-bgimg"
                             bgimgfield="li_img__1478603858361"
                             data-original="https://static.tildacdn.com/tild3033-6532-4635-b364-643635616133/__2020-11-12__140203.png"
                             style="background-image: url('tild3033-6532-4635-b364-643635616133/-/resizeb/20x/__2020-11-12__140203.png');"
                             data-image-width="260"
                             data-image-height="350"></div>
                        <div class="t537__wrapperleft">
                            <div class="t537__persname t-name t-name_lg t537__bottommargin_lg"
                                 style="font-size:16px;font-weight:400;font-family:'Montserrat';"
                                 field="li_persname__1478603858361">Диаграмма
                                моего сердца
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t537__col t-col t-col_3 t-align_left t537__col-mobstyle t-item t-animate"
                     data-animate-style="fadein" data-animate-chain="yes">
                    <div class="t537__itemwrapper t537__itemwrapper_4">
                        <div class="t537__bgimg t-bgimg"
                             bgimgfield="li_img__1478603868730"
                             data-original="https://static.tildacdn.com/tild3934-3431-4162-a532-333135343633/__2020-11-12__140253.png"
                             style="background-image: url('tild3934-3431-4162-a532-333135343633/-/resizeb/20x/__2020-11-12__140253.png');"
                             data-image-width="260"
                             data-image-height="350"></div>
                        <div class="t537__wrapperleft">
                            <div class="t537__persname t-name t-name_lg t537__bottommargin_lg"
                                 style="font-size:16px;font-weight:400;font-family:'Montserrat';"
                                 field="li_persname__1478603868730">Маме
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t537__col t-col t-col_3 t-align_left t537__col-mobstyle t-item t-animate"
                     data-animate-style="fadein" data-animate-chain="yes">
                    <div class="t537__itemwrapper t537__itemwrapper_4">
                        <div class="t537__bgimg t-bgimg"
                             bgimgfield="li_img__1478603870531"
                             data-original="https://static.tildacdn.com/tild6639-6339-4133-b437-393965643639/__2020-11-12__140308.png"
                             style="background-image: url('tild6639-6339-4133-b437-393965643639/-/resizeb/20x/__2020-11-12__140308.png');"
                             data-image-width="260"
                             data-image-height="350"></div>
                        <div class="t537__wrapperleft">
                            <div class="t537__persname t-name t-name_lg t537__bottommargin_lg"
                                 style="font-size:16px;font-weight:400;font-family:'Montserrat';"
                                 field="li_persname__1478603870531">С новым
                                домом!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t537__col t-col t-col_3 t-align_left t537__col-mobstyle t-item t-animate"
                     data-animate-style="fadein" data-animate-chain="yes">
                    <div class="t537__itemwrapper t537__itemwrapper_4">
                        <div class="t537__bgimg t-bgimg"
                             bgimgfield="li_img__1478603872172"
                             data-original="https://static.tildacdn.com/tild3134-3530-4465-b961-353465653934/__2020-11-12__140545.png"
                             style="background-image: url('tild3134-3530-4465-b961-353465653934/-/resizeb/20x/__2020-11-12__140545.png');"
                             data-image-width="260"
                             data-image-height="350"></div>
                        <div class="t537__wrapperleft">
                            <div class="t537__persname t-name t-name_lg t537__bottommargin_lg"
                                 style="font-size:16px;font-weight:400;font-family:'Montserrat';"
                                 field="li_persname__1478603872172">Ты победил
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-clear t537__separator" style=""></div>
                <div class="t537__col t-col t-col_3 t-align_left t537__col-mobstyle t-item t-animate"
                     data-animate-style="fadein" data-animate-chain="yes">
                    <div class="t537__itemwrapper t537__itemwrapper_4">
                        <div class="t537__bgimg t-bgimg"
                             bgimgfield="li_img__1605179726505"
                             data-original="https://static.tildacdn.com/tild3837-3838-4631-b132-323233633334/__2020-11-12__140557.png"
                             style="background-image: url('tild3837-3838-4631-b132-323233633334/-/resizeb/20x/__2020-11-12__140557.png');"
                             data-image-width="260"
                             data-image-height="350"></div>
                        <div class="t537__wrapperleft">
                            <div class="t537__persname t-name t-name_lg t537__bottommargin_lg"
                                 style="font-size:16px;font-weight:400;font-family:'Montserrat';"
                                 field="li_persname__1605179726505">С Денем
                                рождения
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t537__col t-col t-col_3 t-align_left t537__col-mobstyle t-item t-animate"
                     data-animate-style="fadein" data-animate-chain="yes">
                    <div class="t537__itemwrapper t537__itemwrapper_4">
                        <div class="t537__bgimg t-bgimg"
                             bgimgfield="li_img__1605179735411"
                             data-original="https://static.tildacdn.com/tild3534-3836-4331-a262-636337303339/__2020-11-12__140947.png"
                             style="background-image: url('tild3534-3836-4331-a262-636337303339/-/resizeb/20x/__2020-11-12__140947.png');"
                             data-image-width="260"
                             data-image-height="350"></div>
                        <div class="t537__wrapperleft">
                            <div class="t537__persname t-name t-name_lg t537__bottommargin_lg"
                                 style="font-size:16px;font-weight:400;font-family:'Montserrat';"
                                 field="li_persname__1605179735411">График любви
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
             $(document).ready(function() { t537_setHeight('249316274'); });
        </script>
    </div>
    <div id="rec249317743" class="r t-rec t-rec_pt_45 t-rec_pb_150"
         style="padding-top:45px;padding-bottom:150px;background-color:#f0f6fa; "
         data-record-type="537" data-bg-color="#f0f6fa"><!-- t537 -->
        <div class="t537">
            <div class="t537__container t-container">
                <div class="t537__col t-col t-col_4 t-align_left t537__col-mobstyle t-item t-animate"
                     data-animate-style="fadein" data-animate-chain="yes">
                    <div class="t537__itemwrapper t537__itemwrapper_3">
                        <div class="t537__bgimg t-bgimg"
                             bgimgfield="li_img__1478603858361"
                             data-original="https://static.tildacdn.com/tild6236-3563-4138-b337-326439363265/__2020-11-12__140212.png"
                             style="background-image: url('tild6236-3563-4138-b337-326439363265/-/resizeb/20x/__2020-11-12__140212.png');"
                             data-image-width="360"
                             data-image-height="250"></div>
                        <div class="t537__wrapperleft">
                            <div class="t537__persname t-name t-name_lg t537__bottommargin_lg"
                                 style="font-size:16px;font-weight:400;font-family:'Montserrat';"
                                 field="li_persname__1478603858361">С Днем
                                рождения
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t537__col t-col t-col_4 t-align_left t537__col-mobstyle t-item t-animate"
                     data-animate-style="fadein" data-animate-chain="yes">
                    <div class="t537__itemwrapper t537__itemwrapper_3">
                        <div class="t537__bgimg t-bgimg"
                             bgimgfield="li_img__1478603868730"
                             data-original="https://static.tildacdn.com/tild3163-6632-4862-b133-353735343661/__2020-11-12__140316.png"
                             style="background-image: url('tild3163-6632-4862-b133-353735343661/-/resizeb/20x/__2020-11-12__140316.png');"
                             data-image-width="360"
                             data-image-height="250"></div>
                        <div class="t537__wrapperleft">
                            <div class="t537__persname t-name t-name_lg t537__bottommargin_lg"
                                 style="font-size:16px;font-weight:400;font-family:'Montserrat';"
                                 field="li_persname__1478603868730">Спасибо
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
             $(document).ready(function() { t537_setHeight('249317743'); });
        </script>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel t-tildalabel-free" id="tildacopy"
     data-tilda-sign="281562#15184001">
    <div class="t-tildalabel-free__main"><a href="ru/index.htm?upm=281562"
                                            target="_blank"
                                            style="padding-bottom:12px; display: block;"><img
            style="width:40px;" src="img/tildacopy.png"></a>
        <div style="padding-bottom: 15px;">This site was made on <a
                href="ru/index.htm?upm=281562" target="_blank"
                style="text-decoration: none; color:inherit;">Tilda &mdash; a
            website builder</a> that helps to&nbsp;create a&nbsp;website without
            any code
        </div>
        <a href="registration/index.htm" target="_blank"
           style="display: inline-block; padding: 10px 20px; font-size: 13px; border-radius: 50px; background-color: #fff; color:#000; text-decoration: none;">Create
            a website</a></div>
    <div class="t-tildalabel-free__links-wr"><a
            class="t-tildalabel-free__txt-link" href="white-label.html"
            target="_blank">How to remove this block?</a><a
            class="t-tildalabel-free__txt-link" href="ru/index.htm?upm=281562"
            target="_blank">About platform</a><a
            class="t-tildalabel-free__txt-link" href="abuse/index.htm"
            target="_blank">Submit a complaint</a></div>
</div><!-- Stat -->
<script type="text/javascript">
    if (! window.mainTracker) { window.mainTracker = 'tilda'; }	(function (d, w, k, o, g) { var n=d.getElementsByTagName(o)[0],s=d.createElement(o),f=function(){n.parentNode.insertBefore(s,n);}; s.type = "text/javascript"; s.async = true; s.key = k; s.id = "tildastatscript"; s.src=g; if (w.opera=="[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); } })(document, window, '3729e2765c58baac9025b692554d42b3','script','https://stat.tildacdn.com/js/tildasimplestat-0.1.min.js');
</script>
</body>
</html>